<%= form_for(@poll) do |f| %>

  <% @poll.errors.each_with_index do |msg, i| %>
    <div class="alert-box alert">
      <row><%= msg[1] %></row>
      <a href="" class="close">&times;</a>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title, :class => "left inline" %>
    <%= f.text_field :title, :class => "twelve" %>
  </div>

  <div class="field">
    <%= f.label :author, :class => "left inline"  %>
    <%= f.text_field :author, :class => "twelve"  %>
  </div>

  <%= f.fields_for :questions do |builder| %>
    <%= render "questions_fields", :f => builder %>
  <% end %>

  <p><%= link_to_add_fields "Add Question", f, :questions  %></p>

  <div class="actions">
    <%= f.submit "Add poll", :class => "button", :id => "new_poll" %>
  </div>

<% end %>
